@charset "UTF-8";
.header.header-place {
  background: url(img/place/coffee_place.jpg) no-repeat center center/cover;
}

.catch-copy {
  color: rgb(240, 248, 255);
}

.catch-copy span, .page-title span {
  padding-bottom: 4px;
}

/* life hack edit */
.lh-space {
  margin-bottom: 1em;
}

.lead-lh {
  font-weight: bold;
  background: radial-gradient(circle, #D2B59B 60%, transparent 100%);
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}

.section-place {
  padding: 30px 0 50px;
}

.hr-between {
  margin: 50px;
  border-top: 1px solid #9a0303;
}

@media print, screen and (min-width: 768px) {
  .section-place {
    padding: 60px 0 100px;
    max-width: 700px;
    margin: 0 auto;
  }
}

.place-img {
  margin-bottom: 15px;
}

@media print, screen and (min-width: 768px) {
  .place-img {
    width: 50%;
    max-width: 300px;
    padding-right: 20px;
  }
}

.address {
  margin-bottom: 20px;
}

.address dt {
  font-size: 12px;
  margin-bottom: 10px;
}

.place-name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.address-text {
  font-size: 14px;
  line-height: 1.67;
  margin-bottom: 10px;
}

.address-contact {
  font-size: 12px;
  line-height: 1.5;
}

@media print, screen and (min-width: 768px) {
  .place-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.map {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.heading02 span {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
}

.heading02 span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #000;
  transition: all 0.3s ease;
}

.heading02 span:hover::after {
  width: 100%;
  left: 0;
}
